
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Club Membership</title>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <style>

    .selected {
      text-decoration: line-through ;
      font-style: italic;
      color: gray;
    }

    input {
      width: 100%;
      padding: 5px;
      margin: 5px 5px 5px 0;
      box-sizing: border-box;
    }

    tr, th {
      width: 15%;
      text-align: left;
    }

    td {

      width: 30%;
    }


  </style>

</head>
<body>

<div id="app">

  <h1>Student Club Roster</h1>

  <div id="new-student-errors" class="m-2">
    <!-- show errors from form validation -->

  </div>

  <h2>Add Students</h2>

  <label for="student-name">Student Name</label>
  <!-- Use v-model to connect this input to a ref called newStudentName -->
  <input id="student-name" name="student-name" v-model.trim="newStudentName">

  <br>

  <label for="student-id">Student ID</label>
  <!-- Use v-model to connect this input to a ref called newStudentId -->
  <input id="student-id" name="student-id" v-model.trim="newStudentId">

  <br>

  <label for="student-gpa">Student GPA</label>
  <!-- Use v-model to connect this input to a ref called newStudentGpa -->
  <input id="student-gpa" name="student-gpa" type="number" v-model.number="newStudentGpa">

  <br>

  <!-- Use v-on to call addNewStudent function. Complete the addNewStudent function in the script. -->
  <button id="add-student" v-on:click="addNewStudent">Add Student</button>

  <h2>Student List</h2>

  <p>
    <span id="student-count">
        <!-- Create a computed property called studentCount and use it to display the student count here -->
    <span v-if="studentCount === 1">There is {{ studentCount }} student in class.</span>
        <span v-else>There are {{ studentCount }} students in class.</span>
    </span>
  </p>

  <div id="student-list">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>StarID</th>
        <th>Student GPA</th>
        <th>Signed In/Out</th>
      </tr>
      </thead>

      <tbody>
      <!--  create table rows
      Each row will have a checkbox, bound to the app's data
      When the checkbox is checked/unchecked,
      the student will be signed in/out -->
      <tr  v-for="student in studentList" v-on:click="selectOrUnselectStudent(student)"  v-bind:class="{ selected: student.selected }">
        <td>{{ student.name }}</td>
        <td>{{ student.id }}</td>
        <td>{{ student.gpa }}</td>
        <td>
          <input type="checkbox" v-model="student.present" v-on:change="studentToDelete(student)">
          <span class="mx-3" v-if="student.present"></span>
          <span class="mx-3" v-else></span>
        </td>
      </tr>
      </tbody>

    </table>
  </div>

  <!-- Add a v-on to call removeSelectedStudents -->
  <button id="remove-selected-students" v-on:click="removeSelectedStudents">Remove selected students</button>

</div>  <!-- end of div#app -->

<script>

  /* This app will store a list of student objects. Each student object should have this structure,
  {name: 'Beyoncé Knowles', id: 'aa1234bb', gpa: 3.8, selected: false}

  Add the following functionality to this page
      * Display the number of students in the student-count span. Keep this value up to date as students are added and removed, using a computed property.

      * When the add student button is clicked
          - Read the value from the student-name input, save in a variable. If the name is not entered, show an alert error message and return. (1pt)
          - Read the value from the student-id input, save in a variable. If the id is not entered, show an alert error message and return. (1pt)
          - Read the value from the student-gpa input, save in a variable. If the GPA is not entered, or is not in the range 0-4, show an alert error message and return.  (1pt)

      * An event handler that toggles the selected value for a student object is provided for you.
      * Each li element will use the appropriate class based on whether a student is selected or not.
      * When the Remove selected students is clicked, remove all selected students.

  */


  const { createApp, ref, computed } = Vue

  createApp({
    setup() {

      // Create a new ref studentList. This will be an array. The array can be empty, or you can create an example student or students if you like.
      const studentList = ref ([
        { name: 'Beyonce Knowles', id: 'aa1234bb', gpa: 3.8 }
      ])
      // Create a new ref newStudentName, initially an empty string
      const newStudentName = ref()
      // Create a new ref newStudentId, initially an empty string
      const newStudentId = ref()
      // Create a new ref newStudentGpa, initially an empty string
      const newStudentGpa = ref()

      // Use this for form validation
      const errors = ref([])

      // Create a computed property studentCount. This will set the value to the length of the student list.
      const studentCount = computed( () => {
        return studentList.value.length
      })

      const addNewStudent = () => {
        errors.value = [] // clears errors array

        // Set the errors value to an empty array

        // Read the value from newStudentName. If it is empty, add an error message to the end of the errors ref.
        if (!newStudentName.value) {
          errors.value.push('Student name must be entered')
        }
        // Read the value from newStudentId. If it is empty, add an error message to the end of the errors ref.
        if (!newStudentId.value) {
          errors.value.push('Student ID must be entered')
        }
        // Read the value from newStudentGpa. If it is empty, add an error message to the end of the errors ref.
        if (!newStudentGpa.value) {
          errors.value.push('Student GPA must be entered')
        }
        //  And, check that newStudentGPA is between 0 and 4. If not, add an error message to the end of the errors ref.
        if (newStudentGpa.value < 0 || newStudentGpa.value > 4) {
          errors.value.push('Student GPA must be greater than 4')
        }


        // Check the length of errors. If it is more than 0, show an alert with the error message(s)
        if (errors.value.length > 0) {
          alert(errors.value.join('\n'))
        } else {
          let student = {name: newStudentName.value, id: newStudentId.value, gpa: newStudentGpa.value}
          studentList.value.push(student)
          newStudentName.value = '' // clears form input
          newStudentId.value = ''
          newStudentGpa.value = ''
        }
          // Create a new student object with properties name, id, gpa, selected.
          // Set name to newStudentName's value
          // Set id to newStudentId's value
          // Set gpa to newStudentGpa value
          // Set selected to false

          // Add this new object to the end of studentList

          // Set the value of newStudentName, newStudentId, newStudentGpa to empty strings, to clear the form
        }


      const removeSelectedStudents = () => {
        // Remove all students with selected = true from the studentList. Filter out selected students.
        studentList.value = studentList.value.filter(student => !student.selected);
      };

      const selectOrUnselectStudent = (student) => {
        // Toggle the selected property for the student object.
        student.selected = !student.selected;
      };



      return {
        // List all the refs and functions and computed properties
        studentList,
        newStudentName,
        newStudentId,
        newStudentGpa,

        addNewStudent,
        removeSelectedStudents,
        selectOrUnselectStudent,
        studentCount,
      }
    }
  }).mount('#app')


</script>

</body>
</html>
